/* For Top bar Start*/
.cwl-bg{
    background-color: #BC1F2D;
}
.cwl-text-color{
    color: #BC1F2D;
}

.list-group-item i{
    color: #BC1F2D !important;
    font-size: 18px;
    margin-right: 3px;
}
.cwl-info p{
    color: white;
    font-size: 13px;
}
.cwl-social ul li a{
    color: white !important;
    line-height: 1;
    padding: .5rem !important;
    font-size: 13px;
}



/* For Top bar End*/

.navbar-brand img{
    height: 50px;
    background: white;
}

.navbar-nav a{
    color: white !important;
    text-transform: uppercase;
}



/* For Slider */
.cwl-slider img{
    display: block;
    height: 520px;
    object-fit: cover;
    opacity: 30%;
}
.carousel-item{
    background:black;
}

.carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
}

.cwl-btn{
    background: none;
    border: 2px #BC1F2D solid;
    border-radius: 0;
}
.cwl-btn:hover{
    background: #BC1F2D;
    border-color: #BC1F2D;
}
.cwl-active{
    background-color: #BC1F2D;
}

/* Footer start */
.bg-footer {
    background-color: #BF202F;
}

.bg-social-icon {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: #444444;
    text-align: center;
    padding: 2px;
}

.bg-social-icon:hover {
    background-color: blue;
}
/* Footer End */
